# Employee Data Cleaning & Analysis (Pandas)

## Project Objective
The goal of this project is to clean a real-world employee dataset
containing missing values, inconsistent formats, and invalid records,
and perform basic analysis to extract meaningful business insights.

## Tools Used
- Python
- Pandas
- NumPy
- Google Colab

## Dataset Description
The dataset contains employee information such as:
- Age
- Salary
- Department
- City
- Experience
- Joining Date
- Performance Rating

In [133]:
import pandas as pd
import numpy as np

In [134]:
df = pd.read_excel("employee_dirty_data.xlsx")
df.head()

,EmpID,Name,Department,Age,Salary,City,Experience,JoiningDate,Manager,Performance
0,1001.0,Suresh,FINANCE,NaN,fifty thousand,Pune,-3.0,2011-06-19 00:00:00,Ramesh,Average
1,1002.0,Manish,NaN,52.0,fifty thousand,NaN,10.0,2024-04-12 00:00:00,NaN,Good
2,1003.0,Pooja,Finance,24.0,41344,MUMBAI,NaN,2008-11-09 00:00:00,Sonal,NaN
3,1004.0,Suresh,hr,NaN,NaN,Mumbai,17.0,2018-03-21 00:00:00,Sonal,Average
4,1005.0,Suresh,NaN,NaN,NaN,Pune,NaN,2016-08-13 00:00:00,Ramesh,A+

## Data Quality Issues Identified

1. Missing values in columns such as Salary, Department, City, and Experience.
2. Incorrect data types in numeric columns like Age and Salary.
3. Inconsistent categorical values (e.g., FINANCE, Finance, finance)

In [135]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   EmpID        185 non-null    float64
 1   Name         191 non-null    object
 2   Department   146 non-null    object
 3   Age          60 non-null     float64
 4   Salary       128 non-null    object
 5   City         153 non-null    object
 6   Experience   136 non-null    float64
 7   JoiningDate  200 non-null    object
 8   Manager      120 non-null    object
 9   Performance  169 non-null    object
dtypes: float64(3), object(7)
memory usage: 15.8+ KB

In [136]:
df.describe()

             EmpID        Age  Experience
count   185.000000  60.000000  136.000000
mean   1100.945946  41.050000    3.801471
std      57.892679  11.207481    9.316509
min    1001.000000  21.000000   -3.000000
25%    1052.000000  32.000000   -3.000000
50%    1101.000000  41.500000   -3.000000
75%    1150.000000  51.000000    9.250000
max    1200.000000  60.000000   25.000000

In [137]:
df.isnull().sum()

EmpID           15
Name             9
Department      54
Age            140
Salary          72
City            47
Experience      64
JoiningDate      0
Manager         80
Performance     31
dtype: int64

In [138]:
df['Age'] = pd.to_numeric(df['Age'], errors='coerce')
df['Salary'] = pd.to_numeric(df['Salary'], errors='coerce')
df['Experience'] = pd.to_numeric(df['Experience'], errors='coerce')
df

,EmpID,Name,Department,Age,Salary,City,Experience,JoiningDate,Manager,Performance
0,1001.0,Suresh,FINANCE,NaN,NaN,Pune,-3.0,2011-06-19 00:00:00,Ramesh,Average
1,1002.0,Manish,NaN,52.0,NaN,NaN,10.0,2024-04-12 00:00:00,NaN,Good
2,1003.0,Pooja,Finance,24.0,41344.0,MUMBAI,NaN,2008-11-09 00:00:00,Sonal,NaN
3,1004.0,Suresh,hr,NaN,NaN,Mumbai,17.0,2018-03-21 00:00:00,Sonal,Average
4,1005.0,Suresh,NaN,NaN,NaN,Pune,NaN,2016-08-13 00:00:00,Ramesh,A+
...,...,...,...,...,...,...,...,...,...,...
195,1196.0,Simran,IT,NaN,34117.0,NaN,NaN,2017-02-08 00:00:00,Ramesh,Average
196,1197.0,Kunal,IT,NaN,118494.0,delhi,-3.0,01-13-2022,NaN,Good
197,1198.0,Pooja,FINANCE,NaN,40048.0,NaN,0.0,2012-12-13 00:00:00,Ramesh,A+
198,1199.0,Pooja,IT,26.0,92829.0,Pune,25.0,2017-10-11 00:00:00,NaN,A+
199,1200.0,Pooja,NaN,NaN,NaN,Chennai,-3.0,2017-07-07 00:00:00,Vivek,Excellent

Invalid values are converted to NaN using errors='coerce'.

 **Handle Missing Values**

In [139]:
df['Age'] = df['Age'].fillna(df['Age'].median())
df['Salary'] = df['Salary'].fillna(df['Salary'].mean())
df['Experience'] = df['Experience'].fillna(0)

df[['Department','City']] = df[['Department','City']].fillna('Unknown')
df['Manager'] = df['Manager'].fillna('Unassigned')

df

,EmpID,Name,Department,Age,Salary,City,Experience,JoiningDate,Manager,Performance
0,1001.0,Suresh,FINANCE,41.5,73076.522388,Pune,-3.0,2011-06-19 00:00:00,Ramesh,Average
1,1002.0,Manish,Unknown,52.0,73076.522388,Unknown,10.0,2024-04-12 00:00:00,Unassigned,Good
2,1003.0,Pooja,Finance,24.0,41344.000000,MUMBAI,0.0,2008-11-09 00:00:00,Sonal,NaN
3,1004.0,Suresh,hr,41.5,73076.522388,Mumbai,17.0,2018-03-21 00:00:00,Sonal,Average
4,1005.0,Suresh,Unknown,41.5,73076.522388,Pune,0.0,2016-08-13 00:00:00,Ramesh,A+
...,...,...,...,...,...,...,...,...,...,...
195,1196.0,Simran,IT,41.5,34117.000000,Unknown,0.0,2017-02-08 00:00:00,Ramesh,Average
196,1197.0,Kunal,IT,41.5,118494.000000,delhi,-3.0,01-13-2022,Unassigned,Good
197,1198.0,Pooja,FINANCE,41.5,40048.000000,Unknown,0.0,2012-12-13 00:00:00,Ramesh,A+
198,1199.0,Pooja,IT,26.0,92829.000000,Pune,25.0,2017-10-11 00:00:00,Unassigned,A+
199,1200.0,Pooja,Unknown,41.5,73076.522388,Chennai,-3.0,2017-07-07 00:00:00,Vivek,Excellent

** Clean Categorical Columns**

In [140]:
df['Department'] = df['Department'].str.strip().str.upper()
df['City'] = df['City'].str.strip().str.title()
df['Name'] = df['Name'].replace("", "Unknown")
df

,EmpID,Name,Department,Age,Salary,City,Experience,JoiningDate,Manager,Performance
0,1001.0,Suresh,FINANCE,41.5,73076.522388,Pune,-3.0,2011-06-19 00:00:00,Ramesh,Average
1,1002.0,Manish,UNKNOWN,52.0,73076.522388,Unknown,10.0,2024-04-12 00:00:00,Unassigned,Good
2,1003.0,Pooja,FINANCE,24.0,41344.000000,Mumbai,0.0,2008-11-09 00:00:00,Sonal,NaN
3,1004.0,Suresh,HR,41.5,73076.522388,Mumbai,17.0,2018-03-21 00:00:00,Sonal,Average
4,1005.0,Suresh,UNKNOWN,41.5,73076.522388,Pune,0.0,2016-08-13 00:00:00,Ramesh,A+
...,...,...,...,...,...,...,...,...,...,...
195,1196.0,Simran,IT,41.5,34117.000000,Unknown,0.0,2017-02-08 00:00:00,Ramesh,Average
196,1197.0,Kunal,IT,41.5,118494.000000,Delhi,-3.0,01-13-2022,Unassigned,Good
197,1198.0,Pooja,FINANCE,41.5,40048.000000,Unknown,0.0,2012-12-13 00:00:00,Ramesh,A+
198,1199.0,Pooja,IT,26.0,92829.000000,Pune,25.0,2017-10-11 00:00:00,Unassigned,A+
199,1200.0,Pooja,UNKNOWN,41.5,73076.522388,Chennai,-3.0,2017-07-07 00:00:00,Vivek,Excellent

 **Remove Invalid Records**

In [141]:
df = df[df['Experience'] >= 0]
df

,EmpID,Name,Department,Age,Salary,City,Experience,JoiningDate,Manager,Performance
1,1002.0,Manish,UNKNOWN,52.0,73076.522388,Unknown,10.0,2024-04-12 00:00:00,Unassigned,Good
2,1003.0,Pooja,FINANCE,24.0,41344.000000,Mumbai,0.0,2008-11-09 00:00:00,Sonal,NaN
3,1004.0,Suresh,HR,41.5,73076.522388,Mumbai,17.0,2018-03-21 00:00:00,Sonal,Average
4,1005.0,Suresh,UNKNOWN,41.5,73076.522388,Pune,0.0,2016-08-13 00:00:00,Ramesh,A+
5,1006.0,Rohit,UNKNOWN,41.5,73076.522388,Bangalore,0.0,2023-03-13 00:00:00,Unassigned,A+
...,...,...,...,...,...,...,...,...,...,...
193,1194.0,Nidhi,IT,40.0,31184.000000,Unknown,0.0,01-13-2022,Unassigned,Poor
194,1195.0,Priya,UNKNOWN,41.5,55785.000000,Delhi,0.0,2015-12-12 00:00:00,Ramesh,Good
195,1196.0,Simran,IT,41.5,34117.000000,Unknown,0.0,2017-02-08 00:00:00,Ramesh,Average
197,1198.0,Pooja,FINANCE,41.5,40048.000000,Unknown,0.0,2012-12-13 00:00:00,Ramesh,A+
198,1199.0,Pooja,IT,26.0,92829.000000,Pune,25.0,2017-10-11 00:00:00,Unassigned,A+

**Feature Engineering**


In this section, new features were created to support business analysis
and improve data usability.

In [142]:
df['Joining_Year'] = pd.to_datetime(df['JoiningDate'], errors='coerce').dt.year
df

/tmp/ipython-input-1428773662.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Joining_Year'] = pd.to_datetime(df['JoiningDate'], errors='coerce').dt.year

,EmpID,Name,Department,Age,Salary,City,Experience,JoiningDate,Manager,Performance,Joining_Year
1,1002.0,Manish,UNKNOWN,52.0,73076.522388,Unknown,10.0,2024-04-12 00:00:00,Unassigned,Good,2024
2,1003.0,Pooja,FINANCE,24.0,41344.000000,Mumbai,0.0,2008-11-09 00:00:00,Sonal,NaN,2008
3,1004.0,Suresh,HR,41.5,73076.522388,Mumbai,17.0,2018-03-21 00:00:00,Sonal,Average,2018
4,1005.0,Suresh,UNKNOWN,41.5,73076.522388,Pune,0.0,2016-08-13 00:00:00,Ramesh,A+,2016
5,1006.0,Rohit,UNKNOWN,41.5,73076.522388,Bangalore,0.0,2023-03-13 00:00:00,Unassigned,A+,2023
...,...,...,...,...,...,...,...,...,...,...,...
193,1194.0,Nidhi,IT,40.0,31184.000000,Unknown,0.0,01-13-2022,Unassigned,Poor,2022
194,1195.0,Priya,UNKNOWN,41.5,55785.000000,Delhi,0.0,2015-12-12 00:00:00,Ramesh,Good,2015
195,1196.0,Simran,IT,41.5,34117.000000,Unknown,0.0,2017-02-08 00:00:00,Ramesh,Average,2017
197,1198.0,Pooja,FINANCE,41.5,40048.000000,Unknown,0.0,2012-12-13 00:00:00,Ramesh,A+,2012
198,1199.0,Pooja,IT,26.0,92829.000000,Pune,25.0,2017-10-11 00:00:00,Unassigned,A+,2017

In [143]:
df['Salary_Category'] = pd.cut(
    df['Salary'],
    bins=[0,50000,80000,200000],
    labels=['Low','Medium','High']
)
df

/tmp/ipython-input-1530072045.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Salary_Category'] = pd.cut(

,EmpID,Name,Department,Age,Salary,City,Experience,JoiningDate,Manager,Performance,Joining_Year,Salary_Category
1,1002.0,Manish,UNKNOWN,52.0,73076.522388,Unknown,10.0,2024-04-12 00:00:00,Unassigned,Good,2024,Medium
2,1003.0,Pooja,FINANCE,24.0,41344.000000,Mumbai,0.0,2008-11-09 00:00:00,Sonal,NaN,2008,Low
3,1004.0,Suresh,HR,41.5,73076.522388,Mumbai,17.0,2018-03-21 00:00:00,Sonal,Average,2018,Medium
4,1005.0,Suresh,UNKNOWN,41.5,73076.522388,Pune,0.0,2016-08-13 00:00:00,Ramesh,A+,2016,Medium
5,1006.0,Rohit,UNKNOWN,41.5,73076.522388,Bangalore,0.0,2023-03-13 00:00:00,Unassigned,A+,2023,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...
193,1194.0,Nidhi,IT,40.0,31184.000000,Unknown,0.0,01-13-2022,Unassigned,Poor,2022,Low
194,1195.0,Priya,UNKNOWN,41.5,55785.000000,Delhi,0.0,2015-12-12 00:00:00,Ramesh,Good,2015,Medium
195,1196.0,Simran,IT,41.5,34117.000000,Unknown,0.0,2017-02-08 00:00:00,Ramesh,Average,2017,Low
197,1198.0,Pooja,FINANCE,41.5,40048.000000,Unknown,0.0,2012-12-13 00:00:00,Ramesh,A+,2012,Low
198,1199.0,Pooja,IT,26.0,92829.000000,Pune,25.0,2017-10-11 00:00:00,Unassigned,A+,2017,High

 **Data Analysis**

Average Salary by Department

In [144]:
df.groupby('Department')['Salary'].mean()

Department
FINANCE    73073.289009
HR         73634.235224
IT         73781.685168
SALES      79352.204291
UNKNOWN    69401.516610
Name: Salary, dtype: float64

Highest Paid Employee per Department

In [145]:
df.loc[
    df.groupby('Department')['Salary'].idxmax(),
    ['Department','Name','Salary']
]

    Department    Name    Salary
103    FINANCE    Riya  119031.0
51          HR   Arjun  116111.0
143         IT   Sneha  104740.0
57       SALES   Kavya  118884.0
64     UNKNOWN  Manish   87878.0

Senior Employees (Experience > 10)

In [146]:
df[df['Experience'] > 10][['Name','Department','Experience']]

       Name Department  Experience
3    Suresh         HR        17.0
6     Vikas         HR        18.0
18   Manish    FINANCE        22.0
25   Simran         HR        14.0
33     Riya    UNKNOWN        19.0
37   Manish    FINANCE        16.0
42    Kunal         HR        17.0
74   Simran    UNKNOWN        15.0
77    Meena    UNKNOWN        14.0
82    Priya         HR        14.0
87     Riya    UNKNOWN        15.0
103    Riya    FINANCE        23.0
110    Riya         HR        22.0
112   Priya      SALES        21.0
118    Riya      SALES        24.0
121    Isha         IT        21.0
124     NaN         IT        20.0
125   Kunal    UNKNOWN        24.0
147    Riya         HR        13.0
151    Riya    UNKNOWN        22.0
154    Neha      SALES        21.0
158    Isha    UNKNOWN        23.0
160    Amit         IT        14.0
164     NaN      SALES        23.0
173   Kavya         IT        16.0
177   Ankit    FINANCE        25.0
182   Rohit    FINANCE        18.0
188    Isha    UNKNOWN        20.0
189   Pooja    UNKNOWN        23.0
192   Ankit    UNKNOWN        22.0
198   Pooja         IT        25.0

** Key Insights**

Sales department has the highest average salary, followed by IT and HR.

Finance and HR departments have a higher concentration of senior employees (experience > 10 years).

Each department has at least one highly paid employee, indicating performance-based or senior-level compensation.

Employees under the UNKNOWN department show lower average salary, highlighting data quality issues.

Inconsistent or missing department values can impact accurate workforce analysis and should be standardized.

In [147]:
df.to_excel("employee_cleaned_data.xlsx", index=False)